.dish {
  margin-top: 2rem;
  text-align: center;
}

.image {
  display: block; /* Blok düzende görsel */
  max-width: 100%; /* Mobil uyum için genişliği ayarlayın */
  height: auto; /* Yüksekliği otomatik ayarlayın */
  margin: 1rem auto; /* Üst ve alt boşluk ile otomatik yan boşluk */
}


.link {
  display: block; /* Inline-block yaparak tam genişlik almasını sağlıyoruz */
  width: 200px; /* Butonun genişliğini ayarlayın */
  margin: 2rem auto; /* Üst ve alt boşluk ile otomatik yan boşluk */
  padding: 0.5rem 1rem;
  background-color: #0070f3; /* Arka plan rengi */
  color: white; /* Yazı rengi */
  border-radius: 5px; /* Kenar yuvarlama */
  text-decoration: none; /* Alt çizgi yok */
  text-align: center; /* Yazıyı ortala */
}

.link:hover {
  background-color: #005bb5; /* Hover durumunda arka plan rengi */
}
@keyframes colorChange {
  0% { color: #ffcc00; }
  25% { color: #ff6600; }
  50% { color: #00ccff; }
  75% { color: #9900cc; }
  100% { color: #ffcc00; }
}

.title {
  font-size: 2.5rem; /* Başlık boyutu */
  font-weight: bold; /* Kalın yazı stili */
  text-align: center; /* Ortala */
  margin-bottom: 1.5rem; /* Alt boşluk */
  text-transform: uppercase; /* Büyük harf ile yazı */
  letter-spacing: 2px; /* Harfler arası boşluk */
  padding: 1rem; /* İç boşluk */
  animation: colorChange 3s infinite; /* Renk değişimi animasyonu */
}
.backButton {
  background-color: red; /* Buton arka plan rengi */
  color: white; /* Yazı rengi */
  border: none; /* Kenarlık yok */
  border-radius: 5px; /* Kenar yuvarlama */
  padding: 0.5rem 1rem; /* İç boşluk */
  font-size: 1rem; /* Yazı boyutu */
  cursor: pointer; /* Fare imleci */
  margin-top: 2rem; /* Üst boşluk */
  transition: background-color 0.3s; /* Geçiş efekti */
}

.backButton:hover {
  background-color: #005bb5; /* Hover rengi */
}
.description {
  text-align: center; /* Metni ortala */
  margin: 1rem 0; /* Üst ve alt boşluk */
}
.buttonContainer {
  display: flex; /* Flexbox kullanarak konumlandırma yapıyoruz */
  justify-content: center; /* Yatayda ortala */
  margin: 1rem 0; /* Üst ve alt boşluk */
}

.button {
  background-color: #0070f3; /* Buton arka plan rengi */
  color: white; /* Buton metni rengi */
  border: none; /* Kenar boşluğu yok */
  border-radius: 5px; /* Kenar yuvarlama */
  padding: 0.5rem 1rem; /* İçerik boşluğu */
  font-size: 1rem; /* Yazı boyutu */
  cursor: pointer; /* İmleç işareti değişimi */
  transition: background-color 0.3s ease; /* Arka plan rengi geçişi */
}

.button:hover {
  background-color: #005bb5; /* Hover durumunda arka plan rengi */
}
.dishTitle {
  text-align: center; /* Yazıyı ortala */
  font-size: 2rem; /* Yazı boyutu */
  color: #333; /* Yazı rengi */
  margin: 1.5rem 0; /* Üst ve alt boşluk */
  font-weight: bold; /* Kalın yazı */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Gölgelendirme efekti */
}
